<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my.dao.UserMapper">
  <!-- 查找用户-->
    <select id="findUser" resultType="User">
        select * from  musicbox.user where name = #{userName} and password = #{passWord}
    </select>
    <!--添加用户-->
    <insert id="addUser" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="User">
        insert into musicbox.user values (#{id},#{name},#{password})
    </insert>
    <!--通过名字查看用户-->
    <select id="findUserByName" resultType="User">
        select * from musicbox.user where name = #{name}
    </select>
    <!--删除用户-->
    <delete id="deleteUserById" parameterType="int">
        delete from musicbox.user where id=#{id};
    </delete>
</mapper>