<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace会绑定一个对应的UserDao/Mapper接口-->
<mapper namespace="com.my.dao.UserMapper">
    
    <select id="queryUserById" resultType="user">
        select * from mybatis.user where id=#{id}
    </select>

    <update id="updateUser" parameterType="user">
        update mybatis.user set name = #{name},pwd=#{pwd} where id=#{id}
    </update>

    <!--在当前Mapper.xml中开启二级缓存-->
    <cache eviction="FIFO"
    flushInterval="60000"
    size="512"
    readOnly="true"/>

    
</mapper>